@import 'reset';

#tab {
	width: 800px;
	border: 1px solid #888;
	margin: 100px auto;

	ul {
		width: 100%;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		li {
			width: calc(100% / 5);
			height: 40px;
			font: bold 14px/40px 'arial';
			color: #999;
			background: #333;
			text-align: center;
			float: left;
			cursor: pointer;

			&.on {
				color: #333;
				background: #fff;
			}
		}
	}

	section {
		width: 100%;
		article {
			width: 100%;
			height: 300px;
			display: flex;
			justify-content: center;
			align-items: center;
			font: bold 30px/1 'arial';
			color: #555;
			display: none;
			&.on {
				display: flex;
			}
		}
	}
}
